@import url("https://fonts.googleapis.com/css2?family=Sarabun:wght@400;600;700;800&display=swap");

:root {
  --primary-color: #ff8c42;
  --secondary-color: #fcaf58;
  --faded-color: #f9c784;

  --text-color: #4c4c4c;
}

body {
  margin: 0;
  font-family: "Sarabun", sans-serif;
  color: var(--text-color);

  /** to prevent tilt on scroll visible */
  overflow-y: scroll;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

/** Scrollbar Styles */
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #bebebe;
  border-radius: 10px;
  border: 3px white solid;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--primary-color);
}
